@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(//db.onlinewebfonts.com/c/89e25a2106eb2a90b158bc919a23bb0d?family=MBPictureHouseOneW01-Light);

body {
  margin: 0;
  font-family: sans-serif, "MBPictureHouseOneW01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: HangerNine;
  src: url(~/assets/fonts/HangarNine-eW1e.ttf);
}


h2, h3, h4, h5, h6 {
  font-family: "MBPictureHouseTwoW01-Bold", sans-serif;
  font-weight: bold;
}
h1 {
  font-family: HangerNine;
  font-size: 108px;
  margin: -15px 0 -30px 0;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 28px;
}

/* Styles for controlling the nav bar dropdowns*/
nav a, input {
  padding: 10px;
  display: inline-block;
  font-weight: 100;
}
nav ul {
  display: inline;
  margin: 0;
  padding: 0;
}
nav ul li { display: inline-block; }
nav ul li:hover { background: #ddd; }
nav ul li:hover > ul { display: block; }
nav ul li ul {
  position: absolute;
  min-width: 240px;
  width: auto;
  display: none;
}
nav ul li ul li {
  background: #ddd;
  display: block;
  padding: 8px;
}
nav ul li ul li a { display: block; }
nav ul li ul li:hover { background: #ccc; }
nav ul ul ul li {
  position: relative;
  top: -70px;
  left: 231px;
}