html {
  max-height: 1vh;
}

body {
  max-height: 100px;
  background-image: linear-gradient( 
    #00006e,
    #00004b,
    #00001d
  );
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: HangerNine;
  src: url(~/assets/fonts/HangarNine-eW1e.ttf);
}

@font-face {
  font-family: FormatIcons;
  src: url(~/assets/fonts/Digitalsymbols-56BG.ttf);
}

@font-face {
  font-family: KindlyRewind;
  src: url(~/assets/fonts/KindlyRewind-BOon.ttf);
}

img {
  filter: grayscale(90%);
  transition: filter 150ms;
}

h2, h3, h4, h5, h6, p {
  font-family: KindlyRewind, sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 8px;
  color: #ddd;
}
h1 {
  font-family: KindlyRewind;
  font-size: 32px;
  margin: 0 !important;
  color: #ddd;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 28px;
}

// .CRT {
//   filter: brightness(25%);
//   background: radial-gradient(rgb(0,0,0,0), rgb(200,200,200,0.6));
//   position: absolute;
//   top: -25%;
//   left: -2vh;
//   height: 200vh;
//   width: 103%;
//   margin: auto;
//   display: block;
//   z-index: 10;
// }

.CRT-screen {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100%;
  background: #00006e;
  color: white;
  // padding-top: 0vh;
  // padding-left: 2vw;
  // padding-right: 2vw;
  // padding-bottom: 7vh;
  h3,h4,h5,h6,p {
    font-family: KindlyRewind;
    font-weight: 100;
    font-size: 32px;
  }
  h2 {
    font-size: 720px;
    font-weight: 100;
    text-align: center;
  }
}
#top-left {
  position: absolute;
  top: 16vh;
  left: 2vw;
  text-align: left;
}
#top-right {
  position: absolute;  
  top: 16vh;
  right: 2vw;
  text-align: right;
}
#bottom-left {
  position: absolute;  
  bottom: 5vh;
  left: 2vw;
  text-align: left;
}
#bottom-right {
  position: absolute;  
  bottom: 5vh;
  right: 2vw;
  text-align: right;
}

// CRT filter

.CRT-screen::before {
  content:"";
  background:url("https://files.gamebanana.com/bitpit/scanline2_aafa8.png");
  position: absolute;
  width:100%;
  height: 100%;
  max-height:60rem;
  z-index: 9;
  top:0rem;
  left: 0rem;
  background-size: 10%;
  pointer-events: none;
  opacity:40;
}

.CRT-screen::after {
  content:"";
  background:rgba(255, 255, 255, 0.05);
  position: absolute;
  width:100%;
  height:20%;
  z-index: 9;
  top:0rem;
  left: 0rem;
  pointer-events: none;
  animation:bm_scanline 15s linear infinite;
}

@keyframes bm_scanline {
  0% {top:100%}
  100% {top:-30%;}
}

.container {
  width: 80%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 10 0 10;
  padding-left: 10% !important;
  padding-right: 10% !important;
  .main {
    position: static;
    width: 100%;
    background-color: #000;
    max-height: 1vh !important;
    margin: 0 15px 0 15px !important;
    padding: 0rem !important;
    overflow-y: scroll;
  }
}

nav {
  background-color: #000;
  color: #ddd;
  margin-left: -5% !important;
  margin-right: -5% !important;
}
.nav-link {
  color: #ddd;
  font-family: KindlyRewind;
  font-size: 32px;
  width: auto;
  z-index: 11 !important;
}
.nav-link:hover,
.nav-link::selection,
.nav-link:focus {
  color: #aaa !important;
}

.dropdown-toggle::after {
  display: none;
}

a {
  text-decoration: none;
}
input {
  border-radius: 0px !important;
  color: #000 !important;
}
.btn, .btn-primary, button {
  background-color: #333 !important;
  border: 10px double #bbb !important;
  border-radius: 5px !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  max-width: fit-content !important;
}
.btn-group {
  border-radius: 0px;
}
.start {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.end {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn:active {
  background-color: #333;
  border-color: #ce9403;
}

#pagination {
  margin: 0 auto !important;
  display: block !important;
  width: 40vw;
  padding: 0;
}
#currentPage {
  background-color: #333 !important;
  border-color: #ce9403 !important;
}

.btn:hover {
  background-color: #333 !important;
  border: 10px double #ce9403 !important;
}

.card {
  background-color: #212529;
  color: black;
  border: 2px solid #ce9403;
  border-radius: 0px;
  -webkit-transition: transform 350ms linear;
  transition: transform 350ms linear;
  &:hover {
    filter: grayscale(90%);
    box-shadow: 10px 10px 10px;
    transform: scale(1.05);
    border: 2px solid #ce9403 !important;
    cursor:pointer;
  }
  &:hover > .hidden {
    transition: opacity 750ms;
    opacity: 100%;
  }
  &:hover > .card-img {
    filter: brightness(15%);
  }
}

.card-title, .card-subtitle, .card-text { color: #ddd; }
.card-title {
  font-family: KindlyRewind;
  font-size: 20px;
  text-align: center;
  word-wrap: normal;
}
.card-subtitle {
  text-align: center;
  font-size: 18px;
}
.card-img {
  border-radius: 0px;
  will-change: filter;
}

.filmBox {
  display:flex;
  justify-content: space-evenly;
}
.filmCard {
  width: 100%;
  height: auto;
}
.jumbotron {
  width: 70%;
  margin: auto;
  display: block;
  position: relative;
  background-color: #000;
  border-left: 5px solid #ce9403;
  border-right: 5px solid #ce9403;
  transition: filter 2000ms linear;
}

.backdrop {
  width: 100%;
  padding-bottom: 50px !important;
  mask-image: linear-gradient(rgb(0,0,0,1), transparent);
  margin: auto;
  display: block;
}

.bottom-left {
  position: absolute;
  bottom: -20px;
  left: 24px;
  font-size: 108px;
}

.poster {
  width:480px;
  height:auto;
}

.thumbnail {
  height: 180px;
  width: auto;
}

.hidden {
  will-change: opacity;
  transition: opacity 750ms;
  opacity: 0%;
}

.detail img {
  filter: grayscale(0%);
}
.img-btn {
  border: 10px double #777;
  background-color: #000;
  max-width:90%;
  max-height:fit-content;
  padding: 0;
  margin: auto;
  display: block;
  img {
    max-width: 100%;
  }
  &:hover {
    border: none !important;
    background-color: #000;
  }
}

.form-control {
  border: 5px solid #333;
  background-color: #bbb;
  color: #222;
  &::placeholder {
    color: #777;
    font-style: italic;
  }
  &:hover {
    border: 5px solid #ce9403
  }
  value {
    color: #000 !important;
  }
}

.form-select {
  border: 5px solid #333;
  border-radius: 0;
  background-color: #bbb;
  color: #222;
  &#placeholder {
    color: #777 !important;
  }
  &:hover {
    border: 5px solid #ce9403
  }
}

.input-group-text {
  border-radius: 0px;
  background-color: #333;
  border: 10px double #bbb;
}
.form-check-input {
  background-color: #bbb;
}

.search-page:not(.search-result) {
  position:fixed;
}

.search-result {
  border: 5px solid black;
  position: relative;
  padding: 0.5rem;
  h1 {
    font-size: 1.5rem;
    margin-bottom: -0.5rem;
  }
  p {
    margin-top: -0.5rem;
  }
}

.result-column {
  max-height: 87vh;
  overflow-y: scroll;
}

hr {
  margin: 0.25rem;
  border: 0.01rem solid #fff;
}

.search-border {
  border: 5px double #ce9403;
}

.stowed {
  display: none;
}

.details-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  float: right;
  z-index: 1;
}

.format-font {
  font-family: FormatIcons;
  text-align: center;
}

