html {
  min-height: 100vh;
}

body {
  min-height: 100%;
  background-image: linear-gradient( 
    #dd0000,
    #770000,
    #550000
  );
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  font-family: sans-serif, "MBPictureHouseOneW01";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: HangerNine;
  src: url(~/assets/fonts/HangarNine-eW1e.ttf);
}

h2, h3, h4, h5, h6, p {
  font-family: "MBPictureHouseTwoW01-Bold", sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 8px;
  color: #ddd;
}
h1 {
  font-family: HangerNine;
  font-size: 64px;
  margin: 0 !important;
  color: #ddd;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 28px;
}

.container {
  min-width: 90%;
  width: 90%;
  min-height: 100%;
  height:fit-content;
  margin-left: 5%;
  margin-right: 5%;
}
.container .main {
  width: 100%;
  padding: 2%;
  background-color: #313539;
}

.nav-link {
  font-size: 32px;
}

.dropdown-toggle::after {
  display: none;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #660000;
  border: 10px double #bbb;
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  max-width: fit-content;
}

.btn:hover {
  background-color: #660000 !important;
  border: 10px double #ce9403 !important;
}

.card {
  min-height: 100%;
  background-color: #212529;
  color: black;
  border: 10px double #ce9403;
}
.card:hover {
  box-shadow: 10px 10px 10px;
  transform: scale(1.05);
  transition: transform 0.25s;
}
.card-title, .card-subtitle, .card-text { color: #ddd; }
.card-title {
  font-family: HangerNine;
  font-size: 38px;
  text-align: center;
}
.card:hover {
  cursor:pointer;
}

.filmBox {
  display:flex;
  justify-content: space-evenly;
}
.filmCard {
  width: 100%;
}

.poster {
  width:480px;
  height:auto;
}

.thumbnail {
  height: 180px;
  width: auto;
}