html {
  max-height: 1vh;
}

body {
  background-image: linear-gradient( 
    #00006e,
    #00004b,
    #00001d
  );
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0 0 0 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #999 !important;
  &:hover {
    cursor: default;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: FormatIcons;
  src: url(./assets/fonts/Digitalsymbols-56BG.ttf);
}

@font-face {
  font-family: KindlyRewind;
  src: url(./assets/fonts/KindlyRewind-BOon.ttf);
}

@font-face {
  font-family: MadouFutoMaru;
  src: url(./assets/fonts/MadouFutoMaruGothic-d9Xo7.ttf);
}

img {
  filter: grayscale(70%);
  transition: filter 150ms;
}

h2, h3, h4, h5, h6, p {
  font-family: KindlyRewind, sans-serif;
  font-weight: bold;
  margin: 0px;
  padding: 8px;
  color: #999 !important;
}
h1 {
  font-family: KindlyRewind;
  font-size: 32px;
  margin: 0 !important;
  color: #999 !important;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 40px !important;
  margin-bottom: 1%;
}
h4 {
  font-size: 36px;
}
h5 {
  font-size: 32px;
}
h6 {
  font-size: 28px;
}

// .CRT {
//   filter: brightness(25%);
//   background: radial-gradient(rgb(0,0,0,0), rgb(200,200,200,0.6));
//   position: absolute;
//   top: -25%;
//   left: -2vh;
//   height: 200vh;
//   width: 103%;
//   margin: auto;
//   display: block;
//   z-index: 10;
// }

#main-content {
  max-height: 110%;
  overflow-y: scroll;
  padding-bottom: 5%;
  // margin-bottom: 10%;
}

.CRT-screen {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100vw;
  height: 100%;
  background: #00006e;
  color: #999;
  padding-top: 3.5rem !important;
  h3,h4,h5,h6,p {
    font-family: KindlyRewind;
    font-weight: 100;
  }
  h2 {
    font-weight: 100;
    text-align: center;
  }
}
#top-left {
  position: absolute;
  top: 16vh;
  left: 2vw;
  text-align: left;
  color: #999 !important;
}
#top-right {
  position: absolute;  
  top: 16vh;
  right: 2vw;
  text-align: right;
  color: #999;
}
#bottom-left {
  position: absolute;  
  bottom: 5vh;
  left: 2vw;
  text-align: left;
  color: #999;
}
#bottom-right {
  position: absolute;  
  bottom: 5vh;
  right: 2vw;
  text-align: right;
  color: #999;
}

// CRT filter

.CRT-screen::before {
  content:"";
  background:url("https://files.gamebanana.com/bitpit/scanline2_aafa8.png");
  position: absolute;
  width:100%;
  height: 100%;
  max-height:60rem;
  z-index: 9;
  top:0rem;
  left: 0rem;
  background-size: 10%;
  pointer-events: none;
  opacity:40;
}

.CRT-screen::after {
  content:"";
  background:rgba(255, 255, 255, 0.05);
  position: absolute;
  width:100%;
  height:20%;
  z-index: 9;
  top:0rem;
  left: 0rem;
  pointer-events: none;
  animation:bm_scanline 15s linear infinite;
}

@keyframes bm_scanline {
  0% {top:100%}
  100% {top:-30%;}
}

.container {
  width: 80%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0 10 0 10;
  padding-left: 10% !important;
  padding-right: 10% !important;
  .main {
    position: static;
    width: 100%;
    background-color: #000;
    margin: 0 15px 0 15px !important;
    padding: 0rem !important;
    overflow-y: scroll;
  }
  &.details {
    width: 70%;
    background-color: #000;
    border: 5px solid #ce9403;
    border-top: none;
    margin: auto;
    padding: 0.25rem !important;
    padding-top: 2rem !important;
    overflow-y: scroll;
    z-index: 11;
  }
  &.list {
    padding-top: 1rem;
  }
}

.menu {
  margin: auto;
  margin-top: 5%;
  display: block;
  h2 {
    margin-left: -9% !important;
    margin-right: -16% !important;
    margin-bottom: -20% !important;
  }
  h2, h4 {
    text-align: center;
    color: #999;
  }
  button {
    background-color: transparent !important;
    border-radius: 0 !important;
    border: none !important;
    color: #999 !important;
    &:hover {
      background-color: #999 !important;
      color: #00006e !important;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 110%;
}

nav {
  background-color: #000;
  color: #999;
  margin-left: -5% !important;
  margin-right: -5% !important;
  h1 {  
    padding: 0.25rem !important;
    &:hover {
      color: #000 !important;
      background: #999 !important;
    }
  }
}
.nav-link {
  color: #999;
  font-family: KindlyRewind;
  font-size: 32px;
  margin-right: 1rem !important;
  padding: 0.25rem !important;
  width: auto;
  z-index: 11 !important;
}
.nav-link:hover,
.nav-link::selection,
.nav-link:focus {
  color: #000 !important;
  background: #999 !important;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  border: 5px solid #666;
  background-color: #bbb;
  border-radius: 0;
  font-family: KindlyRewind;
}

a {
  text-decoration: none;
}
input {
  border-radius: 0px !important;
  color: #000 !important;
  font-family: MadouFutoMaru;
  &::placeholder {
    color: #333 !important;
    font-style: normal !important;
  }
}
.btn, .btn-primary, button {
  background-color: #000 !important;
  color: #999 !important;
  border: none !important;
  border-radius: 0 !important;
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  max-width: fit-content !important;
  margin: 0.5rem !important;
  font-family: KindlyRewind;
  &:hover {
    cursor:default;
    background-color: #999;
    color: #000;
  }
}
.btn-group {
  border-radius: 0px;
}
.start {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.end {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.btn:active {
  background-color: #333;
  border-color: #ce9403;
}

#pagination {
  margin: auto !important;
  display: block !important;
  width: 58vw;
  .btn-group {
    margin: 0.25rem !important;
  }
}
#currentPage {
  background-color: #000 !important;
  border: 3px solid #999 !important;
}

.btn:hover {
  background-color: #999 !important;
  color: #000 !important;
}

.card {
  background-color: #212529;
  color: black;
  border: 2px solid #ce9403;
  border-radius: 0px;
  // -webkit-transition: transform 100ms linear;
  // transition: transform 100ms linear;
  &:hover {
    filter: grayscale(90%);
    box-shadow: 10px 10px 10px;
    transform: scale(1.05);
    border: 2px solid #ce9403 !important;
    cursor:pointer;
  }
  &:hover > .hidden {
    // transition: opacity 750ms;
    opacity: 100%;
  }
  &:hover > .card-img {
    filter: brightness(15%);
  }
}

.card-title, .card-subtitle, .card-text { 
  font-family: KindlyRewind;
  color: #ddd; 
}
.card-title {
  font-family: KindlyRewind;
  font-size: 20px;
  text-align: center;
  word-wrap: normal;
}
.card-subtitle {
  text-align: center;
  font-size: 18px;
}
.card-img {
  border-radius: 0px;
  will-change: filter;
}

.filmBox {
  display:flex;
  justify-content: space-evenly;
}
.filmCard {
  width: 100%;
  height: auto;
}
.jumbotron {
  width: 70%;
  margin: auto;
  display: block;
  position: relative;
  background-color: #000;
  border-left: 5px solid #ce9403;
  border-right: 5px solid #ce9403;
}

.backdrop {
  width: 100%;
  padding-bottom: 50px !important;
  mask-image: linear-gradient(rgb(0,0,0,1), transparent);
  margin: auto;
  display: block;
}

.bottom-left {
  position: absolute;
  bottom: -20px;
  left: 24px;
  font-size: 108px;
}

.poster {
  width:480px;
  height:auto;
}

.thumbnail {
  height: 180px;
  width: auto;
}

.hidden {
  will-change: opacity;
  // transition: opacity 100ms;
  opacity: 0%;
}

.detailPoster {
  width: 420px !important;
}
.img-btn {
  border: 5px ridge #999;
  background-color: #000;
  max-width:90%;
  max-height:fit-content;
  padding: 0.25rem;
  margin: auto;
  display: block;
  img {
    max-width: 100%;
  }
}

#tagline {
  font-family: MadouFutoMaru;
}

.form-control {
  border: 5px solid #333;
  background-color: #bbb;
  color: #333;
  &::placeholder {
    color: #666;
    font-style: italic;
  }
  &:hover {
    border: 5px solid #000;
    background-color: #ddd;
  }
  value {
    color: #000 !important;
  }
}

// .form-select {
// //   border: 5px solid #333;
// //   border-radius: 0;
// //   background-color: #bbb;
// //   color: #666;
// //   font-family: MadouFutoMaru;
// //   &#placeholder {
// //     color: #666 !important;
// //     font-style: normal !important;
// //   }
// //   &:hover {
// //     border: 5px solid #ce9403
// //   }
// // }

.select {
  &:hover {
    color: #000 !important;
    background-color: #bbb !important;
  }
}
.custom-select {
  width: 100%;
  max-height: 20vh;
  overflow-y: scroll;
  font-family: MadouFutoMaru;
}
.select-btn {
  margin: 0.1rem !important;
  display: inline !important;
  &:hover {
    background-color: #bbb !important;
    color: #000 !important;
  }
}

.input-group-text {
  border-radius: 0px;
  background-color: #333;
  border: 10px double #bbb;
}
.form-check-input {
  background-color: #bbb;
}

.search-page {
  max-height: 80vh;
}

.search-page:not(.search-result):not(.custom-select) {
  position:fixed;
}

.search-result {
  border: 5px solid black;
  position: relative;
  padding: 0.5rem;
  h1 {
    font-size: 1.5rem;
    margin-bottom: -0.5rem;
  }
  p {
    margin-top: -0.5rem;
  }
  &:hover {
    cursor: default;
  }
}


.result-column {
  max-height: 80vh;
  overflow-y: scroll;
  padding-top: 2rem;
}

.search-column {
  padding-top: 2rem;
}

hr {
  margin-top: 0.25rem;
  border: 0.2rem solid #000;
}

.search-border {
  border: 10px double #ce9403;
}

.stowed {
  display: none;
}

.details-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  float: right;
  z-index: 1;
}

.format-font {
  font-family: FormatIcons;
  text-align: center;
}

#fbi-font {
  font-size: 620px;
  color: #999;
}

